{% include 'santechnic\header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'santechnic/products.css' %}">
<div class="products">
{% if products_list %}
    {% for product in products_list %}
        <div class="product">
            <div class="product_image">
                <img src="{{ product.product_image.url }}"/>
            </div>
            <div class="product_name">
                <h>{{ product.product_name }}</h>
            </div>
            <div class="product_price">
                <h>${{ product.product_price}}</h>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>