@import url('initial.css');

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: relative;
    padding-top: 45px;
    padding-left: 30px;
    padding-right:30px;
    padding-bottom:30px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}
nav li{
    font-family: system-ui;
    font-size: medium;
    margin: 10px;
}
nav li a {
    color: black;
}
.name {
    font-family: system-ui;
    font-size: 50px;
    font-weight: bold;
    color: black;
}